@page "/room/{Id}"

@inject ApiService ApiService
@inject NavigationManager NavigationManager


@if(room != null)
{
    <PageTitle>@room.Name</PageTitle>

    <Card Class="shadow">
        <CardBody>
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="ratio ratio-4x3">
                                <img src="images/room.jpg" alt="" style="width: 100%; height: 100%; object-fit: contain;" />
                            </div>
                        </div>
                    </div>
                    <h1>@room.Name</h1>
                </div>
                <div class="col-4">
                    <Card>
                        <CardBody>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary">Book now</button>
                            </div>
                        </CardBody>
                    </Card>
                </div>
            </div>
            <Calendar />
        </CardBody>
    </Card>
}


@code {
    [Parameter] public string? Id { get; set; }
    private RoomResult room;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            room = await ApiService.GetRoom(Id);
            if (room == null) NavigationManager.NavigateTo("/");
            else StateHasChanged();
        }
    }
}