@page "/room/{Id}"
@attribute [Authorize(Roles = "HotelAdmin")]

<PageTitle>Get Room</PageTitle>

<Card>
    <CardHeader>
        <h1>Get Room</h1>
    </CardHeader>
    <CardBody>
        <p>@Id</p>
    </CardBody>
    <CardFooter></CardFooter>
</Card>

@code {
    [Parameter] public string? Id { get; set; }
}