@namespace HotelsRazorLibrary

<footer class="footer mt-auto py-3 bg-dark border-top hl-navbar @Class">
	<div class="container text-light">
		@ChildContent
	</div>
</footer>

@code {
	[Parameter] public RenderFragment? ChildContent { get; set; }
	[Parameter] public string? Class { get; set; }
}