@page "/userbookings"
@inject ApiService ApiService
@inject NavigationManager Navigation
@attribute [Authorize] 

<div class="row justify-content-center">
    <div class="col col-sm-8 ">
        <Card Class="shadow">
            <CardHeader>                
                <h1 class="">Hello</h1>                
            </CardHeader>
            <CardBody> 
                @if (bookings != null)
                {
                    @foreach(var booking in bookings)
                    {                    
                        <Card>
                            <CardBody>
                                <div class="row">

                                    <div class="col">
                                        <img src="Images" style="width: 400px; height: 200px;" alt="">
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title">RoomName</h5>
                                        <p class="card-text">All Inclusive: @booking.AllInclusive</p>
                                        <p class="card-text">Price: @booking.Price</p>
                                        <p class="card-text">Start Date: @booking.StartDate.ToString("dd-MM-yyyy")</p>
                                        <p class="card-text">End Date: @booking.EndDate.ToString("dd-MM-yyyy")</p>
                                    </div>
                                </div>
                            </CardBody>
                        </Card>                                          
                    }
                } 
            </CardBody>
        </Card>
    </div>
</div>
 
@code {
    private List<BookingResult> bookings;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {                   
            bookings = await ApiService.GetMyBookings();
            Console.WriteLine($"Loaded {bookings.Count} bookings with room details.");
            StateHasChanged();
        }
    }   
}