@inherits LayoutComponentBase

<LayoutData>
    <NavMenuConcern />
</LayoutData>

<Background />

<article>
    <div class="container-xxl pb-3 mt-3 my-md-4">
        @Body
    </div>
</article>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<LayoutData>
    <Footer>
    </Footer>
</LayoutData>
