@page "/"

<PageTitle>Home</PageTitle>

<Card Class="shadow">
    <CardHeader>
        <h1>Hotel – Comfort Everywhere You Go</h1>
    </CardHeader>
    <CardBody>
        <h2 class="ms-3">Global Presence</h2>

        <h4 class="ms-5">
            We have hotels in locations all around the world,<br>
            making it easy to find a comfortable place to stay wherever you travel.
        </h4>

        <h2 class="ms-3">Simple & Comfortable Rooms</h2>

        <h4 class="ms-5">
            Our rooms are designed to be clean, well-equipped,<br>
            and perfect for a restful stay—whether you're traveling for business or leisure.
        </h4>

        <h2 class="ms-3">Reliable & Affordable</h2>

        <h4 class="ms-5">
            We offer a hassle-free experience with great service at an affordable price,<br>
            ensuring comfort without complications.
        </h4>
    </CardBody>
</Card>

@code {
    
}


