@inject ApiService ApiService

<Card Class="mb-3">
    <CardBody>
        <p class="fw-bold">All Rooms in this hotel</p>

        <div class="list-group">
            @if (rooms != null)
            {
                @if (rooms.Any())
                {
                    @foreach (var room in rooms)
                    {
                        <a href="/room/@room.Id" class="list-group-item list-group-item-action fw-bold py-0">
                            <div class="row justify-content-between">
                                <div class="col-3 border-end py-2">
                                    @room.Name
                                </div>
                                <div class="col border-end py-2"></div>
                                <div class="col-4 py-2">
                                    @room.Id
                                </div>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <div class="list-group-item list-group-item-action fw-bold py-0">
                        <div class="row justify-content-between">
                            <div class="col py-2">
                                No rooms found
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="list-group-item list-group-item-action fw-bold py-0">
                    <div class="row justify-content-between">
                        <div class="col py-2">
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status">Loading...</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </CardBody>
</Card>

<AuthorizeView Roles="HotelAdmin">
    <Authorized>
        <div class="d-flex justify-content-end">
            <a href="@($"/rooms/add/{HotelId}")" class="btn btn-primary">Add Room</a>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter] public string HotelId { get; set; }
    private List<RoomResult> rooms;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            rooms = await ApiService.GetRooms(HotelId);
            StateHasChanged();
        }
    }
}