@page "/user/{Id}"
@attribute [Authorize(Roles = "HotelAdmin")]
@inject NavigationManager NavigationManager
@inject ApiService ApiService

<PageTitle>Get User</PageTitle>

<Card>
    <CardHeader>
        <h1>Get User</h1>
    </CardHeader>
    <CardBody>
        <p>@Id</p>
    </CardBody>
    <CardFooter></CardFooter>
</Card>

@code {
    [Parameter] public string? Id { get; set; }
    private UserResultDTO user;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            user = await ApiService.GetUser(Id);
            if (user == null) NavigationManager.NavigateTo("/users");
            else StateHasChanged();
        }
    }
}