@page "/"
@using HotelsCommons.Models
@inject AuthService AuthService
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<Card>
    <CardHeader>
        <h1>Home Page</h1>
    </CardHeader>
    <CardBody>
        <p>Home Page</p>

        <AuthorizeView>
            <Authorized>
                @* <h3>Welcome, @context.User.Claims!</h3> *@
                @foreach (var claim in context.User.Claims)
                {
                    <p>@claim.Type: @claim.Value</p>
                }
            </Authorized>
            <NotAuthorized>
                <h3>Please log in to see this content.</h3>
            </NotAuthorized>
        </AuthorizeView>

    </CardBody>
    <CardFooter></CardFooter>
</Card>