@page "/hotels/add"

<PageTitle>Add Hotel</PageTitle>

<Card>
    <CardHeader>
        <h1>Add Hotel</h1>
    </CardHeader>
    <CardBody>
        <p>Add Hotel</p>
    </CardBody>
    <CardFooter></CardFooter>
</Card>