@page "/hotels"
@attribute [Authorize]

<PageTitle>All Hotels</PageTitle>

<Card>
    <CardHeader>
        <h1>All Hotels</h1>
    </CardHeader>
    <CardBody>
        <p>All Hotels</p>
    </CardBody>
    <CardFooter></CardFooter>
</Card>