@page "/tickets"
@attribute [Authorize(Roles = "HotelWorker")]

<PageTitle>All Tickets</PageTitle>

<Card>
    <CardHeader>
        <h1>All Tickets</h1>
    </CardHeader>
    <CardBody>
        <p>All Tickets</p>
    </CardBody>
    <CardFooter></CardFooter>
</Card>