@page "/users/add"
@attribute [Authorize]

<PageTitle>Add User</PageTitle>

<Card>
    <CardHeader>
        <h1>Add User</h1>
    </CardHeader>
    <CardBody>
        <p>Add User</p>
    </CardBody>
    <CardFooter></CardFooter>
</Card>