@page "/userBookings"
@using HotelsCommons.Models
@inject NavigationManager Navigation
@inject HttpClient Http
@inject AuthService AuthService

<center>
    <div class="p-3 align-content-end">
        @* <h1 class="display-1">Hello FirstName LastName @userDTO.FirstName @userDTO.LastName</h1> *@
    </div>

    @* @foreach (var booking in userDTO.Bookings)
    {
    } *@
        <div class="card mb-4" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="Room picture"> @* Get room and get room picture, take 1st in list and insert here *@
            <div class="card-body">
                <h5 class="card-title">Hotel name(?)</h5>
                <p class="card-text">Total price:</p>
                <p class="card-text">Start date:</p>
                <p class="card-text">End date:</p>
            </div>
        </div>

    <div class="card mb-4" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="Room picture"> @* Get room and get room picture, take 1st in list and insert here *@
        <div class="card-body">
            <h5 class="card-title">Hotel name(?)</h5>
            <p class="card-text">Total price:</p>
            <p class="card-text">Start date:</p>
            <p class="card-text">End date:</p>
        </div>
    </div>

    <div class="card mb-4" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="Room picture"> @* Get room and get room picture, take 1st in list and insert here *@
        <div class="card-body">
            <h5 class="card-title">Hotel name(?)</h5>
            <p class="card-text">Total price:</p>
            <p class="card-text">Start date:</p>
            <p class="card-text">End date:</p>
        </div>
    </div>

    <p style="color: red">@errorMessage</p>

</center>


@code {
    public string errorMessage;
    // private User userDTO = new User();
    public bool editing = false;

    private void EnableEditing()
    {
        editing = true;
    }
}