@page "/userBookings"
@using HotelsCommons.Models
@inject NavigationManager Navigation
@inject HttpClient Http
@inject AuthService AuthService

<div class="row justify-content-center">
    <div class="col col-sm-8 ">
        <Card Class="shadow">
                <CardHeader>
                <div class="p-3 align-content-end">
                    <h1 class="">Hello FirstName LastName @userDTO.FirstName @userDTO.LastName</h1>
                </div>
                </CardHeader>
                <CardBody>

                @* @foreach (var booking in userDTO.Bookings)
    {
    } *@
                <CardBody>

                <Card>
                    <CardBody>

                <div class="row">

                    <div class="col">
                        <img src="Images/room.jpg" class="" style="width: 400px; height: 200px; " alt="Room picture"> @* Get room and get room picture, take 1st in list and insert here *@
                    </div>
                    <div class="col">
                        <h5 class="card-title">Hotel name(?)</h5>
                        <p class="card-text">All inclusive:</p>
                        <p class="card-text">Total price:</p>
                        <p class="card-text">Start date:</p>
                        <p class="card-text">End date:</p>
                    </div>
                </div>
                    </CardBody>
                </Card>
                </CardBody>

                <div class="card mb-4" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Room picture"> @* Get room and get room picture, take 1st in list and insert here *@
                    <div class="card-body">
                        <h5 class="card-title">Hotel name(?)</h5>
                        <p class="card-text">Total price:</p>
                        <p class="card-text">Start date:</p>
                        <p class="card-text">End date:</p>
                    </div>
                </div>

                <div class="card mb-4" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Room picture"> @* Get room and get room picture, take 1st in list and insert here *@
                    <div class="card-body">
                        <h5 class="card-title">Hotel name(?)</h5>
                        <p class="card-text">Total price:</p>
                        <p class="card-text">Start date:</p>
                        <p class="card-text">End date:</p>
                    </div>
                </div>

                <p style="color: red">@errorMessage</p>  

            </CardBody>
        </Card>

    </div>
</div>
 
@code {
    public string errorMessage;
    private User userDTO = new User();
    public bool editing = false;
    public string image = "https://images.trvl-media.com/lodging/3000000/2260000/2256600/2256592/d987aba7.jpg?impolicy=fcrop&w=357&h=201&p=1&q=medium";

    private void EnableEditing()
    {
        editing = true;
    }
}