@using HotelAdmin.WebView.Components.Background
@inherits LayoutComponentBase

<LayoutData>
    <NavMenu />
</LayoutData>

<Background />

<main class="flex-shrink-0 py-3">
    <LayoutData>
        <NavbarLeft Class="hl-shadow position-fixed top-0 start-0">
            <LeftNavItem Name="Home" Href="/"></LeftNavItem>

            <LeftNavDropdown Name="Hotels">
                <LeftNavItem Name="All hotels" Href="/hotels" Margin="30px"></LeftNavItem>

                <AuthorizeView Roles="ConcernAdmin">
                    <Authorized>
                        <LeftNavItem Name="Add hotel" Href="/hotels/add" Margin="30px"></LeftNavItem>
                    </Authorized>
                </AuthorizeView>

            </LeftNavDropdown>

            <LeftNavDropdown Name="Users">
                <LeftNavItem Name="All users" Href="/users" Margin="30px"></LeftNavItem>

                <AuthorizeView Roles="HotelAdmin">
                    <Authorized>
                        <LeftNavItem Name="Add user" Href="/users/add" Margin="30px"></LeftNavItem>
                    </Authorized>
                </AuthorizeView>

            </LeftNavDropdown>

            <LeftNavDropdown Name="Discount codes">
                <LeftNavItem Name="All codes" Href="/discountcodes"></LeftNavItem>
                <LeftNavItem Name="Add code" Href="/creatediscountcode"></LeftNavItem>
            </LeftNavDropdown>

            <LeftNavItem Name="Bookings" Href="/bookings"></LeftNavItem>
            <LeftNavItem Name="Tickets" Href="/tickets"></LeftNavItem>
            
            <hr class="m-0">

            <NavGroupBottom>
                <hr class="m-0">
                <AuthorizeView>
                    <Authorized>
                        <LeftNavUser />
                        <hr class="m-0">
                        <LeftNavItem Name="Log out" Href="/logout"></LeftNavItem>
                    </Authorized>
                    <NotAuthorized>
                        <LeftNavItem Name="Login" Href="/login"></LeftNavItem>
                    </NotAuthorized>
                </AuthorizeView>
            </NavGroupBottom>

        </NavbarLeft>
    </LayoutData>

    <article class="hl-navbar-margin">
        <div class="container-xxl mt-3 my-md-4 pb-3">
            @Body
        </div>
    </article>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</main>

<LayoutData>
    <FixedFooter Class="hl-shadow">
        @* <p class="m-0">Test</p> *@
    </FixedFooter>
</LayoutData>