@inject SidenavService SidenavService

<header>
    <nav class="navbar navbar-dark fixed-top navbar-expand-sm bg-dark border-bottom hl-shadow hl-navbar">
        <div class="container-fluid text-light" style="height: 40px;">
            <div class="d-flex">
                <button class="navbar-toggler d-block d-lg-none" type="button" @onclick="SidenavService.Open">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mx-3" href="">
                    <img src="@($"/images/logo_02.png")" height="40" alt="Logo">
                </a>
            </div>
            <NavLink class="nav-item nav-link" href="weather">Test</NavLink>
        </div>
    </nav>

    <div style="height: 57px;">
    </div>
</header>